@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* category font */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap'); /* subheading font */

.destination-section {
  margin-top: 15%;
}

.decore-svg {
  position:absolute;

  left: 81%;
  top: 225%;
}

.destination-section .category {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  
  line-height: 27px;
  text-align: center;
  color: #5E6282;
}

.destination-section .subheading {
  
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;

  text-align: center;
  text-transform: capitalize;

  color: #14183E;
}

.destination-section .card-container {

  margin: 3% 20%;
  display: flex;
  justify-content: space-around;
}

.destination-card {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
  width:50%;
}
/* 
.destination-card:hover {

  transform: scale(1.2);
  transition: transform .5s ease;
} */