@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* category font */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap'); /* subheading font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); /* step title font */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /* step description font */

.bookatrip-section {
  margin: 0% 10% 0% 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bookatrip-section .category {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  text-align: left;
  color: #5E6282;
}

.bookatrip-section .subheading {
  
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  color: #14183E;
  font-size: 1.8em;
}

.step-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-a-trip-svg {
  display:none;
}

.step {
  display:flex;
  flex-direction: row;
  margin-top: 8%;
  padding: 5% 2%;
  border-radius: 36px;
}

.step-image {
  width: 20%;
  margin-right: 10%;
}

.step-detail {
  display: flex;
  flex-direction: column;
}

.step-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #5E6282;
  font-size: 1em;
}

.step-description {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #5E6282;
  font-size: 0.9em;

}

@media(min-width: 1024px) {

  .book-a-trip-svg {
    display: block;
    width: 100%;
  }

  .bookatrip-section .subheading {
    font-size: 2.5em;
  }

  .step {
    padding: 2% 5%;
  }

  .step-image {
    width:15%;
  }

  .step-description {
    font-size: 0.9em;
  }
}

@media(min-width: 1440px) {
    
  .bookatrip-section .subheading {   
    font-size: 3.2em;
  }
  
  .step-heading {
    
    font-size: 16px;
    line-height: 124.5%;
  }
  
  .step-description {
    
    font-size: 16px;
    line-height: 124.5%;
  
  }

  .book-a-trip-svg {
    display: block;
    width: 100%;
  }
}
