
.DropDown .display {
  display: flex;
  margin-left: 2%;
}

.selected {
  font-family: 'Google Sans';
  font-weight: 700;
}

.DropDown .img {
  min-width: 2%;
  margin-left: 1%;
} 

.DropDown .img.reverse {
  margin-left: 1%;
  transform: rotate(180deg);
}