@import url(https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i);

.navbar {
  display: flex;
  margin-top: 2%;
  align-items: center;
  padding: 2% 10%;
}

.navbar .logo {
  width: 8%;
  align-self: left;
}

.navbar .list {
  margin-left: 30%;
  width: 60%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.list .list-item {
  display: inline;
  margin: 0% 3%;
  padding:5px;
}

.list-item a {
  text-decoration: none;
  color: #212832;
  font-size: 1.063em;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-weight: 500;
}

.list-item a:hover {
  text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;

  /* font-weight: 700;
  overflow: hidden; */
}

.button { 
  margin: 0% 2%;
  color: #212832;
  font-size: 1.2em;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button.login {
  font-size: 1.2em;
  color: #212832;
  padding: 0.5% 2%;
  border:1px solid #fff1da;
  border-radius: 5px;
}

.button.login:hover {
  background-color: #F1A501;
  color:#FFF;
  border:1px solid #F1A501;
  border-radius: 5px;
}


.button.sign-up {
  padding: 0.5% 2%;
  font-size: 1.2em;
  border: 1px solid #212832;
  border-radius: 5px;
}

.button.sign-up:hover {
  background-color: #212832;
  color:#FFF;
  border:1px solid #212832;
  border-radius: 5px;
}

