@import url(https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i); /* Google Sans */


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 10%;
  /* width: 100%; */
}

.navbar .logo {
  width: 30%;
  align-self: left;
}

.navbar .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10%;
  width: 60%;
  
}

.list .list-item {
  display: inline;
  margin: 3% 0%;
}

.list-item a {
    text-decoration: none;
    color: #212832;
    font-size: 1.063em;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-weight: 500;
}

.list-item a:hover {
  text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}

.button { 
  margin: 0% 2%;
  color: #212832;
  font-size: 1.2em;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 25px;
}

.button.login {
  margin-top: 2%;
  font-size: 1.2em;
  color: #212832;
  padding: 1% 30%;
  border:1px solid #212832;
}

.button.login:hover {
  background-color: #F1A501;
  color:#FFF;
  border:1px solid #F1A501; 
}

.button.sign-up {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 28%;
  font-size: 1.2em;
  border: 1px solid #212832;
}

.button.sign-up:hover {
  background-color: #212832;
  color:#FFF;
  border:1px solid #212832;
}

@media(min-width: 1024px) {
  .navbar {
    margin:0%;
    margin-top:1%;
    flex-direction: row;
    padding: 1% 8%;
  }

  .navbar .logo {
    width: 10%;
  }

  .navbar .list {
    flex-direction: row;
    margin-top: 0%;
    margin-left: 10%;
  }

  .list .list-item {
    display: inline;
    margin: 0% 5%;
  }

  .button.login  {
    margin-top:0%;
    padding: 0.5% 2%;
  }

  .button.sign-up{
    margin:0% 0%;
    padding: 0.5% 2%;
    margin-right: 2%;
  }
}

@media(min-width: 1440px) {

  .navbar {
    /* margin-top: 1%; */
    padding: 2% 15%;
  }

  .navbar .logo {
    width: 15%;
  }

  .navbar .list {
    margin-left: 30%;
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
  }

  .list .list-item {
    display: inline;
    margin: 0% 3%;
    padding:5px;
  }
 
  .list-item a:hover {
    text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
  }

  .button.login {
    font-size: 1.2em;
    color: #212832;
    padding: 0.5% 2%;
    border:1px solid #fff1da;
    border-radius: 5px;
  }

  .button.sign-up {
    padding: 0.5% 2%;
    font-size: 1.2em;
    border: 1px solid #212832;
    border-radius: 5px;
  }
}

