
.subscribe-section {
  margin: 5% 10% 0% 10%;
  background: #DFD7F9;
  opacity: 0.2;
  border-radius: 20px 129px 20px 20px;
  color:#000;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.subscribe-text {
  
}