@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.Footer {
  margin: 10% 10% 0% 10%;
  justify-content: space-around;
  display: flex;
}

.column-1 {
  width: 20%;
  margin-left:10%;
  margin-right: 20%;
}

.jadoo {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.75em;
  line-height: 66px;

  color: #181E4B;
}

.jadoo-subheading {
  padding-top: 2%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 124.5%;

  color: #5E6282;
}

.column-2 {
  padding-top: 1%;
  margin-right: 10%;
  width: 20%;
}

.column-2 .heading {
  margin-bottom: 10%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 124.5%;

  color: #080809;

}

.items {
  padding: 1%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 124.5%;

  color: #5E6282;
}

.instagram {
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  width: 23%;
}

.discover-our-app {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5E6282;
}

.column-3 {
  width: 40%;
}