
.App {
  transition: all 2.5s;
}

.ellipse {
  position: absolute;
  width: 478.94px;
  height: 496.86px;
  background: #D5AEE4;
  opacity: 0.3;
  filter: blur(150px);
  left: -420px;
  top: -59.84px;
}

.hero-curve {
  position:absolute;
  background: rgba(255,241,218,0); 
  z-index:-2;
  left: 55%;
  top: -10%;
}

.hero-traveller {
  position:absolute;
  z-index:-2;
  width: 25%;
  top: 85%;
  left: 75%;
}

.footer-decore {
  position:fixed;
  width:20%;
  left:80%;
  bottom:0%;
}

.all-rights-reserved {
  
  margin: 5% 10% 5% 10%;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;

  color: #5E6282;
}

@media(min-width: 1024px) {

  .hero-curve {
  
    width: 48%;
    height:100%;
    left: 55%;
    top: -20%;
  }
  
  .hero-traveller {    
    width:35%;
    left: 60%;
    top:15%;
  }

}

@media(min-width: 1440px) {

.hero-curve {
  
  width: 48%;
  height:100%;
  left: 55%;
  top: -10%;
}

.hero-traveller {
  position:absolute;
  z-index:-2;
  width:35%;
  left:50%;
  top:15%;
}


}